body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background: #444;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    overflow: auto;
}

section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

/* Basic Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    header, nav, main, footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.sponsor-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.sponsor-logos div {
    text-align: center;
    margin: 10px;
}

.sponsor-logos img {
    max-width: 150px; /* Adjust as needed */
    max-height: 100px; /* Adjust as needed */
    margin-bottom: 5px;
}
